body {
    background-image: url("img/tło.jpg");
    background-size: cover;
    color: #efefef;
    text-shadow: 0 0 0.2em #8F7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    margin: 0 5em;
    font-style: italic;
}

.ksiazka {
    background: rgba(0,0,0,0.3);
    padding: 0.2em 1em;
}

header {
    position: relative;
    margin-right: 7em;
}

.link img {
    position: absolute;
    top: 0.5em;
    right: 5em;
    height: 4em;
    width: 6.5em;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

span.link:hover img {
    transform: scale(1.1);
}

.akapit {
    transition: all 0.5s ease-in-out;
}

.akapit:hover {
    font-weight: bold;
}