html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    /* background-color: #191d21; */
    background-image: url("tło.jpg");
    color: #efefef;
}

.wizytowka {
    max-width: 1500px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-family: Poppins;
}

section {
    text-align: justify;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 5px;
    font-weight: 100;
}

.intro {
    font-weight: 500;
    font-family: Nunito Sans, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    background: rgba(0,0,0,0.3);
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
    animation: gora;
    animation-duration: 1s;
}

.zdjecie {
    flex: 1;
    position: relative;
    animation: lewo;
    animation-duration: 1s;
}

.szczegoly {
    flex: 3;
    position: relative;
    animation: prawo;
    animation-duration: 1s;
}

.linki {
    position: relative;
    animation: dol;
    animation-duration: 1s;
}

.linki ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.linki a {
    flex: 1;
    margin: 5px;
    border: 1px dotted white;
    border-radius: 3px;
}
.linki p {
    text-align: center;
    font-style: italic;
}
.link:hover {
    background: rgba(100,0,0,0.3);
}

.link img {
    max-width: 100px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.link:hover img {
    transform: scale(1.2);
}

img {
    width: 100%;
}

.wstep {
    font-weight: bold;
}

ul.opis {
    list-style: square;
}

@media all and (max-width: 850px) {
    
    .wizytowka {
        flex-direction: column;
    }
    .zdjecie {
        order: 1;
        width: 50%;
    }
}

@media all and (max-width: 500px) {
    .wizytowka {
        font-size: 16px;
    }

    .linki ul {
        flex-wrap: wrap;
    }
    .linki a {
        flex: 1 1 25%;
    }
}

@keyframes gora {
    0% {top: -20em;}
    100% {top: 0;}
}
@keyframes lewo {
    0% {left: -20em;}
    100% {left: 0;}
}
@keyframes prawo {
    0% {right: -20em;}
    100% {right: 0;}
}
@keyframes dol {
    0% {bottom: -20em;}
    100% {bottom: 0;}
}